@CHARSET "UTF-8";


.GreenBorder{ 
   border: 100px solid #BBBBBB;
   padding: 30px;
   background-color:#000000 !important;
}

.GreenBorderNorth{ 
   border:100px solid green;
   padding:10px;
   size:"7.7";
   background-color:#000000 !important;
}
